[build]
  command = "bundle install && bundle exec jekyll build"
  publish = "_site"

[functions]
  directory = "netlify/functions"
  node_bundle = true

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
