---
layout: null
sitemap:
  exclude: 'yes'
---
/*
   Variables
   ========================================================================== */

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Thin.otf') format('opentype');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/assets/fonts/Pretendard-Black.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}

@import "variables";

body {
  font-family: $global-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

/*
   Vendor
   ========================================================================== */

/* Breakpoint - media query mixins */
@import "vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);

/* Font Awesome - icon font set */
@import "vendor/font-awesome/font-awesome";

/* Susy - grid mixins */
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
);
@import "vendor/susy/susy";


@import "reset";
@import "base";
@import "utilities";
@import "navigation";
@import "buttons";
@import "footer";
@import "syntax";
@import "rrssb";
@import "slimmenu";
@import "post";
@import "page";
